<div class="row">
  <h3>ADD A NEW RECIPE</h3>
  <hr/>
  <form id="addRecipe" class="form-container" method="POST" action='/add_recipe'>
    <input name="recipe_title" type="text" placeholder="Enter recipe title"/>
    <ul class="form-group">
      <h5>INGREDIENTS</h5>
      <hr/>
      <!-- BEGIN REPEATER -->
        <!--ING AMOUNT-->
        <li>
          <div class="row collapse">
            <div class="large-1 columns">
              <input type="text" class="amount" name="amount-1" placeholder="amount" value="" />
            </div>
            <div class="large-1 columns">
              <select name="units-1" class="units" placeholder="units">
                <option value="oz">oz</option>
                <option value="tsp">tsp</option>
                <option value="tbs">tbs</option>
                <option value="cup">cup</option>
                <option value="pinch">pinch</option>
                <!-- OPTIONS -->
              </select>
            </div>
            <!-- ING AUTOCOMPLETE TITLE -->
            <div class="large-10 columns">
              <input type="text" id="autocomplete" class="ing-name" name="ingredient-1" placeholder="ingredient name"/>
            </div>
          <!-- END REPEATER -->
          </div>
        </li>
        <button class="r-btnAdd" id="addIngredient" type="button">Add Ingredient</button>
      </ul>
      <input type="text" placeholder="Add an image URL" name="imageurl"/>
      <textarea placeholder="Enter recipe instructions"></textarea>
    <input type="submit" class="button" value="Submit Recipe"/>
  </form>
</div>