<div class="row recipe">
  <h2>Margarita</h2>
  <center>
  <div class="large-3 columns">
    <div id="ingredients">
        <ul>
          <li>1 1/2 oz Tequila</li>
          <li>1/2 oz Triple sec</li>
          <li>1 oz Lime juice</li>
          <li>Salt</li>
        </ul>
    </div>
  </div>
  <div class="large-3 columns">
    <img src="/images/margarita.png"/>
  </div>
  </center>
</div>
